extends ../layout.pug
block content
  .container
    .row
      form.col-12
        .form-group.row
          .col-12.col-sm-2.col-form-label 电影名字
          .col-12.col-sm-10
            input.form-control(type="text", placeholder="电影名字")
        .form-group.row
          .col-12.col-sm-2.col-form-label 电影导演
          .col-12.col-sm-10
            input.form-control(type="text", placeholder="电影导演")
        .form-group.row
          .col-12.col-sm-2.col-form-label 国家
          .col-12.col-sm-10
            input.form-control(type="text", placeholder="国家")
        .form-group.row
          .col-12.col-sm-2.col-form-label 语种
          .col-12.col-sm-10
            input.form-control(type="text", placeholder="语种")
        .form-group.row
          .col-12.col-sm-2.col-form-label 海报地址
          .col-12.col-sm-10
            input.form-control(type="text", placeholder="海报地址")
        .form-group.row
          .col-12.col-sm-2.col-form-label 片源地址
          .col-12.col-sm-10
            input.form-control(type="text", placeholder="片源地址")
        .form-group.row
          .col-12.col-sm-2.col-form-label 上映年代
          .col-12.col-sm-10
            input.form-control(type="text", placeholder="上映年代")
        .form-group.row
          .col-12.col-sm-2.col-form-label 电影简介
          .col-12.col-sm-10
            input.form-control(type="text", placeholder="电影简介")
        button.btn.btn-primary.float-right 提交